// $bg-main-color:#551000;

$color-primary-green: #016F52;
$color-primary-blue: #1A77A3;
$color-primary-gray: #E5E5E5;
$color-emarald: #81D2BC;
$color-powder-blue:#D7E8EF;
$color-second-blue: #1C77A4;
$color-black: #000000;
$color-white: #ffffff;
$color-second-gray: #2F2B430A;
$color-base-black: #140A32;
$color-third-gray: #2F2B4380;
$color-second-green: #33836E;

//#F7F7F8
