header {
    width: 100%;
    position: relative;

    .nav {
        backdrop-filter: blur(400px);
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;

        &__top {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 30px;

            &-menu {
                display: none;
            }

            .logo {
                cursor: pointer;
            }

            &__search {
                display: flex;
                border-radius: 10px;
                background: $color-second-gray;
                align-items: center;
                width: 400px;

                img {
                    color: $color-second-gray;
                }

                input {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    width: 360px;
                    cursor: pointer;
                    padding: 14px 0px 14px 20px;
                }
            }

            &__btn {
                cursor: pointer;
                padding: 13px 20px;
                border: none;
                border-radius: 10px;
                background: $color-primary-green;
                color: $color-white;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0%;
                gap: 11px;
                display: flex;
                align-items: center;

                &:hover {
                    background: $color-emarald;
                }

                &:active {
                    background: $color-primary-green;
                }
            }

            &__contact {
                display: flex;
                flex-direction: column;
                gap: 5px;

                a {
                    text-decoration: none;
                    color: $color-base-black;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0%;
                }

                span {
                    color: $color-third-gray;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0%;
                }
            }

            .userIcon {
                display: none;
            }
        }

        &__middle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;

            &--btn {

                display: flex;
                gap: 15px;

                li {
                    box-sizing: border-box;
                    border: 1px solid rgba(47, 43, 67, 0.15);
                    border-radius: 10px;
                    display: flex;
                    gap: 10px;
                    padding: 10px 20px;
                    align-items: center;
                    cursor: pointer;

                    button {
                        outline: none;
                        border: none;
                        background: transparent;
                        cursor: pointer;
                    }
                }
            }

            &--list {
                display: flex;
                gap: 30px;
                align-items: center;
                cursor: pointer;

                :hover {
                    text-decoration: underline;
                }

            }

            &--list-item {
                display: flex;
                align-items: center;
                gap: 10px;

                li {
                    cursor: pointer;
                }
            }
        }

        &__bottom {
            margin-bottom: 20px;

            &--list {
                display: flex;
                gap: 10px;
                align-items: center;
                color: $color-third-gray;
            }
        }
    }
}

@media screen and (max-width: 390px) {

    .nav {


        &__top {
            border-bottom: 1px solid $color-third-gray;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            gap: 0px !important;
            padding: 15px !important;

            &-menu {
                display: block !important;
                background: none;
                border: none;
                cursor: pointer;
            }

            .logo {
                cursor: pointer;
                width: 159px !important;
                height: 32px;
            }

            &__search {
                display: none;
                background: none !important;

                input {
                    display: none;
                }

                img {
                    cursor: pointer;
                    position: relative;
                    right: 10px !important;
                    width: 24px !important;
                }
            }

            &__btn {
                display: none !important;

                img {
                    display: none;
                }

                span {
                    display: none;
                }
            }

            &__contact {
                display: none !important;
            }

            .userIcon {
                background: none;
                border: none;
                display: block !important;
                position: relative;
                right: 47px !important;
            }
        }

        &__middle {
            display: none !important;
        }

        &__bottom {
            padding-top: 15px;
            margin-bottom: 20px;

            &--list {
                display: flex;
                gap: 10px;
                align-items: center;
                color: $color-third-gray;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .nav {
        &__top {
            border-bottom: 1px solid $color-third-gray;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            gap: 0px !important;
            padding: 15px !important;

            &-menu {
                display: block !important;
                background: none;
                border: none;
                cursor: pointer;
            }

            .logo {
                cursor: pointer;
                width: 159px;
                height: 32px;
            }

            &__search {
                display: none;
                background: none !important;

                input {
                    display: none;
                }

                img {
                    cursor: pointer;
                    position: relative;
                    left: 0px !important;
                    width: 24px !important;
                }
            }

            &__btn {
                display: none !important;

                img {
                    display: none;
                }

                span {
                    display: none;
                }
            }

            &__contact {
                display: none !important;
            }

            .userIcon {
                background: none;
                border: none;
                display: block !important;
                position: relative;
                right: 20px;
            }
        }

        &__middle {
            display: none !important;
        }

        &__bottom {
            padding-top: 15px;
            margin-bottom: 20px;

            &--list {
                display: flex;
                gap: 10px;
                align-items: center;
                color: $color-third-gray;
            }
        }
    }
}

@media screen and (max-width: 495px) {

    .nav {


        &__top {
            border-bottom: 1px solid $color-third-gray;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            gap: 48px !important;
            padding: 15px !important;

            &-menu {
                display: block !important;
                background: none;
                border: none;
                cursor: pointer;
            }

            .logo {
                cursor: pointer;
                width: 179px;
                height: 32px;
            }

            &__search {
                display: none;
                background: none !important;

                input {
                    display: none;
                }

                img {
                    cursor: pointer;
                    position: relative;
                    left: 45px;
                    width: 24px !important;
                }
            }

            &__btn {
                display: none !important;

                img {
                    display: none;
                }

                span {
                    display: none;
                }
            }

            &__contact {
                display: none !important;
            }

            .userIcon {
                background: none;
                border: none;
                display: block !important;
            }
        }

        &__middle {
            display: none !important;
        }

        &__bottom {
            padding-top: 15px;
            margin-bottom: 20px;

            &--list {
                display: flex;
                gap: 10px;
                align-items: center;
                color: $color-third-gray;
            }
        }
    }
}