main {
    .intro__section {
        margin-bottom: 96px;

        &__wrapper {

            display: flex;
            justify-content: space-between;
            align-items: center;

            &--texts {
                h1 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 52px;
                    letter-spacing: -3%;
                    text-align: left;
                    width: 657px;
                }

                p {
                    width: 657px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: 0%;
                    text-align: left;
                    margin-bottom: 30px;
                }

                &-btn {
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    margin-bottom: 40px;

                    button {
                        border: none;
                        border-radius: 10px;
                        background: $color-second-green;
                        padding: 16px 36px 18px 36px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22px;
                        letter-spacing: 0px;

                        color: $color-white;
                        
                        &:hover {
                            background: $color-emarald;
                        }

                        &:active {
                            background: $color-primary-green;
                        }
                    }



                    &__item {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        a {
                            text-decoration: none;
                            color: $color-second-green;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 33px;
                            letter-spacing: 0%;
                        }

                        span {
                            color: $color-third-gray;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                    }
                }

                &_extra {
                    display: flex;
                    width: 628px !important;
                    gap: 30px !important;

                    &-info {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }
                }
            }
        }
    }

    .info__wrapper {
        margin-bottom: 80px;

        h1 {
            color: $color-base-black;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: -3%;
            text-align: left;
        }

        p {
            color: $color-base-black;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    .consultation__wrapper {
        margin-bottom: 80px;

        h1 {
            color: $color-base-black;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: -3%;
            text-align: left;
            margin-bottom: 15px;
        }

        .desc {
            margin-bottom: 30px;
            color: $color-base-black;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
        }

        &--card {
            display: flex;
            justify-content: space-between;

            &-item {
                box-sizing: border-box;
                border: 1px solid #2f2b4326;
                border-radius: 20px;
                padding: 20px;

                .normal {
                    color: $color-base-black;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0%;
                    text-align: left;
                    padding: 15px 0;
                    width: 230px;
                }

                .item {
                    margin-bottom: 20px;
                }

                .bold {
                    color: $color-base-black;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0%;
                    text-align: left;
                    margin-bottom: 15px;
                }

                a {
                    color: $color-second-green;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0px;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }

    .callCenter {
        margin-bottom: 80px;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            background-color: $color-second-green;
            border-radius: 20px;

            .callgirl{
                width: 258px;
                height: 200px;
                position: relative;
                top: 3px;
                border-bottom-left-radius: 20px;
            }
            &--info {
                padding: 50px 0;
            }

            h3 {
                color: $color-white;
                font-size: 24px;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0%;
                margin-bottom: 8px;
            }

            a {
                color: $color-white;
                font-size: 42px;
                font-weight: 700;
                line-height: 57px;
                letter-spacing: -3%;
                text-decoration: none;
            }

            .onlineLawyer {
                padding: 38px 117px 56px 116px;

                p {
                    color: $color-white;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}